[Plymouth Theme]
Name=${OS_NAME}
Description=${OS_NAME} boot splash — ${TAGLINE}
ModuleName=script

[script]
ImageDir=/usr/share/plymouth/themes/${OS_NAME_LOWER}
ScriptFile=/usr/share/plymouth/themes/${OS_NAME_LOWER}/${OS_NAME_LOWER}.script
